<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tianyuan.WisdomTeacherServer.mapper.SchoolInfoMapper">
  <resultMap id="BaseResultMap" type="com.tianyuan.WisdomTeacherServer.bean.SchoolInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="abbr" jdbcType="VARCHAR" property="abbr" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="regionid" jdbcType="VARCHAR" property="regionid" />
    <result column="region" jdbcType="VARCHAR" property="region" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="weblogo" jdbcType="VARCHAR" property="weblogo" />
    <result column="applogo" jdbcType="VARCHAR" property="applogo" />
    <result column="vaildpic" jdbcType="VARCHAR" property="vaildpic" />
    <result column="summary" jdbcType="VARCHAR" property="summary" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="fax" jdbcType="VARCHAR" property="fax" />
    <result column="zip" jdbcType="VARCHAR" property="zip" />
    <result column="builddate" jdbcType="TIMESTAMP" property="builddate" />
    <result column="web" jdbcType="VARCHAR" property="web" />
    <result column="contact" jdbcType="VARCHAR" property="contact" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="really" jdbcType="INTEGER" property="really" />
    <result column="createuid" jdbcType="INTEGER" property="createuid" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="updateuid" jdbcType="INTEGER" property="updateuid" />
    <result column="updatetime" jdbcType="TIMESTAMP" property="updatetime" />
    <result column="del" jdbcType="BIT" property="del" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, abbr, code, type, regionid, region, address, weblogo, applogo, vaildpic, 
    summary, phone, fax, zip, builddate, web, contact, mobile, really, createuid, createtime, 
    updateuid, updatetime, del
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from school_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from school_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tianyuan.WisdomTeacherServer.bean.SchoolInfo">
    insert into school_info (id, name, abbr, 
      code, type, regionid, 
      region, address, weblogo, 
      applogo, vaildpic, summary, 
      phone, fax, zip, builddate, 
      web, contact, mobile, 
      really, createuid, createtime, 
      updateuid, updatetime, del
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{abbr,jdbcType=VARCHAR}, 
      #{code,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{regionid,jdbcType=VARCHAR}, 
      #{region,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{weblogo,jdbcType=VARCHAR}, 
      #{applogo,jdbcType=VARCHAR}, #{vaildpic,jdbcType=VARCHAR}, #{summary,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{fax,jdbcType=VARCHAR}, #{zip,jdbcType=VARCHAR}, #{builddate,jdbcType=TIMESTAMP}, 
      #{web,jdbcType=VARCHAR}, #{contact,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, 
      #{really,jdbcType=INTEGER}, #{createuid,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP}, 
      #{updateuid,jdbcType=INTEGER}, #{updatetime,jdbcType=TIMESTAMP}, #{del,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.tianyuan.WisdomTeacherServer.bean.SchoolInfo">
    insert into school_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="abbr != null">
        abbr,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="regionid != null">
        regionid,
      </if>
      <if test="region != null">
        region,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="weblogo != null">
        weblogo,
      </if>
      <if test="applogo != null">
        applogo,
      </if>
      <if test="vaildpic != null">
        vaildpic,
      </if>
      <if test="summary != null">
        summary,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="fax != null">
        fax,
      </if>
      <if test="zip != null">
        zip,
      </if>
      <if test="builddate != null">
        builddate,
      </if>
      <if test="web != null">
        web,
      </if>
      <if test="contact != null">
        contact,
      </if>
      <if test="mobile != null">
        mobile,
      </if>
      <if test="really != null">
        really,
      </if>
      <if test="createuid != null">
        createuid,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
      <if test="updateuid != null">
        updateuid,
      </if>
      <if test="updatetime != null">
        updatetime,
      </if>
      <if test="del != null">
        del,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="abbr != null">
        #{abbr,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="regionid != null">
        #{regionid,jdbcType=VARCHAR},
      </if>
      <if test="region != null">
        #{region,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="weblogo != null">
        #{weblogo,jdbcType=VARCHAR},
      </if>
      <if test="applogo != null">
        #{applogo,jdbcType=VARCHAR},
      </if>
      <if test="vaildpic != null">
        #{vaildpic,jdbcType=VARCHAR},
      </if>
      <if test="summary != null">
        #{summary,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="fax != null">
        #{fax,jdbcType=VARCHAR},
      </if>
      <if test="zip != null">
        #{zip,jdbcType=VARCHAR},
      </if>
      <if test="builddate != null">
        #{builddate,jdbcType=TIMESTAMP},
      </if>
      <if test="web != null">
        #{web,jdbcType=VARCHAR},
      </if>
      <if test="contact != null">
        #{contact,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="really != null">
        #{really,jdbcType=INTEGER},
      </if>
      <if test="createuid != null">
        #{createuid,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateuid != null">
        #{updateuid,jdbcType=INTEGER},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="del != null">
        #{del,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tianyuan.WisdomTeacherServer.bean.SchoolInfo">
    update school_info
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="abbr != null">
        abbr = #{abbr,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="regionid != null">
        regionid = #{regionid,jdbcType=VARCHAR},
      </if>
      <if test="region != null">
        region = #{region,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="weblogo != null">
        weblogo = #{weblogo,jdbcType=VARCHAR},
      </if>
      <if test="applogo != null">
        applogo = #{applogo,jdbcType=VARCHAR},
      </if>
      <if test="vaildpic != null">
        vaildpic = #{vaildpic,jdbcType=VARCHAR},
      </if>
      <if test="summary != null">
        summary = #{summary,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="fax != null">
        fax = #{fax,jdbcType=VARCHAR},
      </if>
      <if test="zip != null">
        zip = #{zip,jdbcType=VARCHAR},
      </if>
      <if test="builddate != null">
        builddate = #{builddate,jdbcType=TIMESTAMP},
      </if>
      <if test="web != null">
        web = #{web,jdbcType=VARCHAR},
      </if>
      <if test="contact != null">
        contact = #{contact,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="really != null">
        really = #{really,jdbcType=INTEGER},
      </if>
      <if test="createuid != null">
        createuid = #{createuid,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateuid != null">
        updateuid = #{updateuid,jdbcType=INTEGER},
      </if>
      <if test="updatetime != null">
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="del != null">
        del = #{del,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tianyuan.WisdomTeacherServer.bean.SchoolInfo">
    update school_info
    set name = #{name,jdbcType=VARCHAR},
      abbr = #{abbr,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      regionid = #{regionid,jdbcType=VARCHAR},
      region = #{region,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      weblogo = #{weblogo,jdbcType=VARCHAR},
      applogo = #{applogo,jdbcType=VARCHAR},
      vaildpic = #{vaildpic,jdbcType=VARCHAR},
      summary = #{summary,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      fax = #{fax,jdbcType=VARCHAR},
      zip = #{zip,jdbcType=VARCHAR},
      builddate = #{builddate,jdbcType=TIMESTAMP},
      web = #{web,jdbcType=VARCHAR},
      contact = #{contact,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      really = #{really,jdbcType=INTEGER},
      createuid = #{createuid,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      updateuid = #{updateuid,jdbcType=INTEGER},
      updatetime = #{updatetime,jdbcType=TIMESTAMP},
      del = #{del,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>