<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tianyuan.WisdomTeacherServer.mapper.SchoolCommentHitsMapper">
  <resultMap id="BaseResultMap" type="com.tianyuan.WisdomTeacherServer.bean.SchoolCommentHits">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="dynamicid" jdbcType="INTEGER" property="dynamicid" />
    <result column="userid" jdbcType="INTEGER" property="userid" />
    <result column="state" jdbcType="BIT" property="state" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="updatetime" jdbcType="TIMESTAMP" property="updatetime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, dynamicid, userid, state, createtime, updatetime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from school_comment_hits
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from school_comment_hits
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tianyuan.WisdomTeacherServer.bean.SchoolCommentHits">
    insert into school_comment_hits (id, dynamicid, userid, 
      state, createtime, updatetime
      )
    values (#{id,jdbcType=INTEGER}, #{dynamicid,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, 
      #{state,jdbcType=BIT}, #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.tianyuan.WisdomTeacherServer.bean.SchoolCommentHits">
    insert into school_comment_hits
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="dynamicid != null">
        dynamicid,
      </if>
      <if test="userid != null">
        userid,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
      <if test="updatetime != null">
        updatetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="dynamicid != null">
        #{dynamicid,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="state != null">
        #{state,jdbcType=BIT},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tianyuan.WisdomTeacherServer.bean.SchoolCommentHits">
    update school_comment_hits
    <set>
      <if test="dynamicid != null">
        dynamicid = #{dynamicid,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        userid = #{userid,jdbcType=INTEGER},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=BIT},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tianyuan.WisdomTeacherServer.bean.SchoolCommentHits">
    update school_comment_hits
    set dynamicid = #{dynamicid,jdbcType=INTEGER},
      userid = #{userid,jdbcType=INTEGER},
      state = #{state,jdbcType=BIT},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      updatetime = #{updatetime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>