<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tianyuan.WisdomTeacherServer.mapper.StudentGuardionMapper">
  <resultMap id="BaseResultMap" type="com.tianyuan.WisdomTeacherServer.bean.StudentGuardion">
    <id column="schoolid" jdbcType="INTEGER" property="schoolid" />
    <id column="guardionid" jdbcType="INTEGER" property="guardionid" />
    <id column="studentid" jdbcType="INTEGER" property="studentid" />
    <result column="relation" jdbcType="VARCHAR" property="relation" />
    <result column="important" jdbcType="INTEGER" property="important" />
    <result column="updatetime" jdbcType="TIMESTAMP" property="updatetime" />
    <result column="createuid" jdbcType="INTEGER" property="createuid" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="updateuid" jdbcType="INTEGER" property="updateuid" />
    <result column="del" jdbcType="BIT" property="del" />
  </resultMap>
  <sql id="Base_Column_List">
    schoolid, guardionid, studentid, relation, important, updatetime, createuid, createtime, 
    updateuid, del
  </sql>
  <select id="selectByPrimaryKey" parameterType="com.tianyuan.WisdomTeacherServer.bean.StudentGuardionKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from student_guardion
    where schoolid = #{schoolid,jdbcType=INTEGER}
      and guardionid = #{guardionid,jdbcType=INTEGER}
      and studentid = #{studentid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.tianyuan.WisdomTeacherServer.bean.StudentGuardionKey">
    delete from student_guardion
    where schoolid = #{schoolid,jdbcType=INTEGER}
      and guardionid = #{guardionid,jdbcType=INTEGER}
      and studentid = #{studentid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tianyuan.WisdomTeacherServer.bean.StudentGuardion">
    insert into student_guardion (schoolid, guardionid, studentid, 
      relation, important, updatetime, 
      createuid, createtime, updateuid, 
      del)
    values (#{schoolid,jdbcType=INTEGER}, #{guardionid,jdbcType=INTEGER}, #{studentid,jdbcType=INTEGER}, 
      #{relation,jdbcType=VARCHAR}, #{important,jdbcType=INTEGER}, #{updatetime,jdbcType=TIMESTAMP}, 
      #{createuid,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP}, #{updateuid,jdbcType=INTEGER}, 
      #{del,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.tianyuan.WisdomTeacherServer.bean.StudentGuardion">
    insert into student_guardion
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="schoolid != null">
        schoolid,
      </if>
      <if test="guardionid != null">
        guardionid,
      </if>
      <if test="studentid != null">
        studentid,
      </if>
      <if test="relation != null">
        relation,
      </if>
      <if test="important != null">
        important,
      </if>
      <if test="updatetime != null">
        updatetime,
      </if>
      <if test="createuid != null">
        createuid,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
      <if test="updateuid != null">
        updateuid,
      </if>
      <if test="del != null">
        del,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="schoolid != null">
        #{schoolid,jdbcType=INTEGER},
      </if>
      <if test="guardionid != null">
        #{guardionid,jdbcType=INTEGER},
      </if>
      <if test="studentid != null">
        #{studentid,jdbcType=INTEGER},
      </if>
      <if test="relation != null">
        #{relation,jdbcType=VARCHAR},
      </if>
      <if test="important != null">
        #{important,jdbcType=INTEGER},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="createuid != null">
        #{createuid,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateuid != null">
        #{updateuid,jdbcType=INTEGER},
      </if>
      <if test="del != null">
        #{del,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tianyuan.WisdomTeacherServer.bean.StudentGuardion">
    update student_guardion
    <set>
      <if test="relation != null">
        relation = #{relation,jdbcType=VARCHAR},
      </if>
      <if test="important != null">
        important = #{important,jdbcType=INTEGER},
      </if>
      <if test="updatetime != null">
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="createuid != null">
        createuid = #{createuid,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateuid != null">
        updateuid = #{updateuid,jdbcType=INTEGER},
      </if>
      <if test="del != null">
        del = #{del,jdbcType=BIT},
      </if>
    </set>
    where schoolid = #{schoolid,jdbcType=INTEGER}
      and guardionid = #{guardionid,jdbcType=INTEGER}
      and studentid = #{studentid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tianyuan.WisdomTeacherServer.bean.StudentGuardion">
    update student_guardion
    set relation = #{relation,jdbcType=VARCHAR},
      important = #{important,jdbcType=INTEGER},
      updatetime = #{updatetime,jdbcType=TIMESTAMP},
      createuid = #{createuid,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      updateuid = #{updateuid,jdbcType=INTEGER},
      del = #{del,jdbcType=BIT}
    where schoolid = #{schoolid,jdbcType=INTEGER}
      and guardionid = #{guardionid,jdbcType=INTEGER}
      and studentid = #{studentid,jdbcType=INTEGER}
  </update>
</mapper>