<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tianyuan.WisdomTeacherServer.Instantmapper.LoginLogMapper">
  <resultMap id="BaseResultMap" type="com.tianyuan.WisdomTeacherServer.Instantbean.LoginLog">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="userid" jdbcType="INTEGER" property="userid" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="loginip" jdbcType="VARCHAR" property="loginip" />
    <result column="logintype" jdbcType="INTEGER" property="logintype" />
    <result column="loginaccount" jdbcType="VARCHAR" property="loginaccount" />
  </resultMap>
  <sql id="Base_Column_List">
    id, userid, createtime, loginip, logintype, loginaccount
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from login_log
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from login_log
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tianyuan.WisdomTeacherServer.Instantbean.LoginLog">
    insert into login_log (id, userid, createtime, 
      loginip, logintype, loginaccount
      )
    values (#{id,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP}, 
      #{loginip,jdbcType=VARCHAR}, #{logintype,jdbcType=INTEGER}, #{loginaccount,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.tianyuan.WisdomTeacherServer.Instantbean.LoginLog">
    insert into login_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userid != null">
        userid,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
      <if test="loginip != null">
        loginip,
      </if>
      <if test="logintype != null">
        logintype,
      </if>
      <if test="loginaccount != null">
        loginaccount,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="loginip != null">
        #{loginip,jdbcType=VARCHAR},
      </if>
      <if test="logintype != null">
        #{logintype,jdbcType=INTEGER},
      </if>
      <if test="loginaccount != null">
        #{loginaccount,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tianyuan.WisdomTeacherServer.Instantbean.LoginLog">
    update login_log
    <set>
      <if test="userid != null">
        userid = #{userid,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="loginip != null">
        loginip = #{loginip,jdbcType=VARCHAR},
      </if>
      <if test="logintype != null">
        logintype = #{logintype,jdbcType=INTEGER},
      </if>
      <if test="loginaccount != null">
        loginaccount = #{loginaccount,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tianyuan.WisdomTeacherServer.Instantbean.LoginLog">
    update login_log
    set userid = #{userid,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      loginip = #{loginip,jdbcType=VARCHAR},
      logintype = #{logintype,jdbcType=INTEGER},
      loginaccount = #{loginaccount,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>